@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;800&family=Montserrat:wght@400;800&family=Raleway:wght@400;800&display=swap');

:root {
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --linkColor: #0070f3;
  --red: #ee0120;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

.App {
  text-align: center;
}

h1 {
  color: var(--primaryTextColor);
  margin: 0;
  font-weight: 800;
  font-size: 6rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

a:hover {
  opacity: 0.8;
}

footer {
  height: 2rem;
  width: 100%;
  padding: 1rem 0;
  color: var(--secondaryTextColor);
}

.brightspot {
  color: var(--red);
}

.navbar {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
  background-color: #fff;
}

.navbar[data-static='true'] {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar[data-alignment='left'] {
  justify-content: flex-start;
}

.navbar[data-alignment='center'] {
  justify-content: center;
}

.navbar[data-alignment='right'] {
  justify-content: flex-end;
}

.icon {
  font-size: 2rem;
}
.iconSpan {
  margin: 0 7px;
  color: var(--secondaryColor);
}

.title {
  font-size: 6rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.accent {
  color: var(--secondaryColor);
}
.subtitle {
  color: var(--secondaryTextColor);
  font-size: 1.5rem;
  font-weight: 400;
}

#intro {
  min-height: 100vh;
}

.animalSection {
  min-height: 50vh;
  background-color: var(--accents-1);
  padding: 1rem 7%;
  max-width: 1200px;
  margin: 3rem auto;
  line-height: 2;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitle svg {
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  margin-right: 1rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #cad0d2;
  border-radius: 4px;
  margin: 0.5rem;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

li {
  font-size: 1.2rem;
}

.liIcon svg {
  padding-right: 17px;
  height: 20px;
  width: 20px;
}

.cardTitle {
  color: var(--secondaryColor);
  font-size: 2.2rem;
}

.cardTitleButton {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

button {
  border-radius: 7px;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  max-width: 200px;
  align-self: flex-end;
  background-color: #fff;
  border: solid 2px #000;
}

button:hover {
  cursor: pointer;
}

button[data-button='button-primary'] {
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, var(--primaryColor), var(--secondaryColor));
}

button[data-button='button-primary']:hover {
  box-shadow: none;
  color: white;
}

button[data-button='button-outline'] {
  box-shadow: none;
  color: white;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, var(--primaryColor), var(--secondaryColor));
}

button[data-button='button-outline']:hover {
  border: solid 3px transparent;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  color: var(--primaryTextColor);
}

@media all and (min-width: 700px) {
  .card {
    flex: 1;
    width: 40%;
  }
}

@media all and (min-width: 1000px) {
  .card {
    flex: 1;
    width: 33.33%;
  }
}
