.container {
  padding: 0 2rem;
  margin: 2rem auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  font-size: 4rem;
}

.homePagContainer {
  text-align: center;
}

.pictureContainer {
  margin: 2rem;
  padding: 0;
}

.link {
  color: #2a5975;
}

.link:hover {
  color: #6c8ea1;
  cursor: pointer;
}
