.promoSection {
  margin: 40px 10px;
}

.promoContainer {
  display: flex;
  width: 100%;
  background-color: var(--tertiaryGrey);
  padding: 0;
}

.promoContainer:hover {
  cursor: pointer;
}

.leftItem {
  width: 50%;
  align-self: center;
  padding-left: 5px;
}

.rightItem {
  width: 50%;
  margin: 0;
  padding: 0;
}

.sectionText {
  font-size: 0.7rem;
  text-transform: up;
  padding: 0;
  margin: 0;
}

.articleHeadline {
  margin: 0;
  color: var(--primaryBlack);
  font-size: 1.2rem;
  padding: 0;
}

.textContainer {
  padding: 4px;
  text-overflow: ellipsis;
}

.articleBodyStarting {
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

@media (min-width: 586px) {
  .imageContainer {
    height: 150px;
  }
}
@media (min-width: 768px) {
  .leftItem {
    padding: 10px;
  }
  .articleHeadline {
    font-size: 1.5rem;
  }
}

@media (min-width: 1240px) {
  .articleHeadline {
    font-size: 1.7rem;
  }
}

@media (min-width: 1440px) {
  .leftItem {
    padding: 2rem;
  }
}
