.createNoteForm {
    max-width: 540px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var( --primaryTextColor);
    border-radius: 10px;
    padding: 5px;
    box-shadow: var(--lightShadow);
    margin: 0 auto;
  }
  
  .createNoteInput {
    width: 100%;
    font-size: 1rem;
  }

  .label {
    margin: 0;
  }
  
  .submitButton {
    width: 100px;
    height: var(--inputHeight);
    border-radius: var(--buttonBorderRadius);
    color: var(--moduleBgColor);
    border: 1px solid var(--moduleBgColor);
    background-color: #fff ;
    transition: all .3s ease-out;
  }
  
  .submitButton:hover {
    cursor: pointer;
    background-color: var(--moduleBgColor);
  
    color: #fff;
  }

  .createNoteWrapper {
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 10px;
  }