.container {
    padding: 0 1rem;
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loginCard {
    padding: 1rem;
    background-color: #fff;
    box-shadow: var(--lightShadow);
    border-radius: var(--mainBorderRadius);
    margin: 2rem;
    color: var( --primaryTextColor);
    position: relative;
  }

  .loginHead {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* margin-bottom: 1rem; */
    height: 12rem;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    padding: 11px;
  }
  
.errorMessage {
  color: var(--primaryRed)
}
  .loginFormInput {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px var( --primaryTextColor);
  width: 100%;
  font-size: 1.5em;
  outline: none;
  padding: 0.5rem;
  }

  .loginFormInput > input:hover {
    cursor: pointer;
  }

  .loginSubmitButton {
    width: 100%;
    height: 3rem;
    border-radius: var(--buttonBorderRadius);
    color: var(--moduleBgColor);
    border: 1px solid var(--moduleBgColor);
    background-color: #fff ;
    transition: all .3s ease-out;
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }

  .loginSubmitButton:hover {
    cursor: pointer;
    background-color: var(--moduleBgColor);
    color: #fff;
  }

  @media (min-width: 568px) {  
    .loginCard {
      width: 30rem;
    }
  }