.createNoteForm {
  max-width: 540px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primaryTextColor);
  border-radius: 10px;
  padding: 5px 5px 0 5px;
  box-shadow: var(--lightShadow);
  margin: 0 auto;
}

.createNoteInput {
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--grayscaleFive);
  border-radius: 3px;
  height: 1.7rem;
  padding: 5px;
}

.label {
  margin: 0;
}

.submitButton {
  width: 100px;
  height: var(--inputHeight);
  border-radius: var(--buttonBorderRadius);
  color: var(--moduleBgColor);
  border: 1px solid var(--moduleBgColor);
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.createNoteBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3.2rem;
}

.submitButton:hover {
  cursor: pointer;
  background-color: var(--moduleBgColor);

  color: #fff;
}

.error {
  font-size: 0.9rem;
  color: var(--primaryRed);
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.1rem;
}

.createNoteWrapper {
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 10px;
}
