.createNoteForm {
  max-width: 540px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primaryTextColor);
  border-radius: 10px;
  padding: 5px 5px 0 5px;
  box-shadow: var(--lightShadow);
  margin: 0 auto;
}

.inputWrapper {
  transition-property: background-color;
  transition-duration: 5s;
  transition-timing-function: linear;
}

.notCollapsed {
  display: block;
}

.collapsed {
  display: none;
}

.notCollapsedInline {
  display: inline-block;
}
.createNoteInput {
  width: 100%;
  font-size: 1rem;
  border: 0;
  border-radius: 3px;
  min-height: 1.7rem;
  padding: 5px;
  margin-bottom: 7px;
  font-family: 'Noto Sans', sans-serif;
}

.formButton {
  font-size: 1rem;
  padding: 5px;
  margin-right: 10px;
  color: var(--moduleBgColor);
  border: 0;
  background-color: transparent;
}

.createNoteBottom {
  width: 100%;
  min-height: 30px;
  text-align: end;
}

.formButton:hover {
  cursor: pointer;
  color: #1d79aa;
}

.error {
  font-size: 0.9rem;
  color: var(--primaryRed);
  font-style: italic;
  margin-right: 20px;
  line-height: 1.1rem;
}

.createNoteWrapper {
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 10px;
}
