@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

:root {
  --black: #202124;
  --text: #4b4545;
  --red: #ee0120;
  --border: #f1eced;
  --blue: #2a5975;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  width: 100%;
}

img {
  max-width: 100%;
}

h1 {
  margin-bottom: 3rem;
  color: var(--black);
}

ul {
  list-style-type: none;
}

.container {
  margin: 4rem auto;
  max-width: 1240px;
}

.error {
  color: var(--red);
  word-wrap: break-word;
}

.error-close {
  margin-right: 2px;
}

.error-close:hover {
  cursor: pointer;
}

.image-gallery {
  gap: 16px;
  padding: 0;
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
}

.image-gallery > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  max-height: 30vh;
  border-radius: 4px;
}

.delete {
  position: absolute;
  color: #000;
  top: 4px;
  right: 4px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 2px;
  height: 20px;
  width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: rgba(255, 255, 255, 0.9);
}

.info {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #000;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  z-index: 15;
  border-radius: 50%;
}

input[type='file'] {
  display: none;
}

.info:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: rgba(255, 255, 255, 0.9);
}

.popup {
  display: none;
}

.popup[data-show] {
  display: block;
  position: absolute;
  top: 23px;
  left: 10px;
  background-color: #fff;
  max-width: 310px;
  height: 400px;
  overflow-y: scroll;
  text-align: left;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 20;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 22px;
  color: #fff;
  background: var(--red);
  border: 2px solid var(--red);
}

.file-upload:hover {
  background-color: #fff;
  color: var(--red);
}
