body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  width: 100%;
}

img {
  max-width: 100%;
}
h1 {
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
}

.container {
  margin: 4rem auto;
  max-width: 1240px;
}

.error {
  color: #ee0120;
  word-wrap: break-word;
}

.error-close {
  margin-right: 2px;
}

.error-close:hover {
  cursor: pointer;
}

.image-gallery {
  gap: 16px;
  padding: 0;
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
}

.image-gallery > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #f1eced;
  border-radius: 4px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  max-height: 30vh;
  border-radius: 4px;
}

.delete {
  position: absolute;
  color: #000;
  top: 4px;
  right: 4px;
  font-size: 30px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete:hover {
  cursor: pointer;
  opacity: 0.8;
}

.info {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #000;
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  padding: 5px;
  z-index: 15;
}

input[type='file'] {
  display: none;
}

.info:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popup {
  display: none;
}

.popup[data-show] {
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
  background-color: #fff;
  max-width: 800px;
  text-align: left;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 20;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

.file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 22px;
  color: #fff;
  background: #ee0120;
  border: 2px solid #ee0120;
}

.file-upload:hover {
  background-color: #fff;
  color: #ee0120;
}
