@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Variables */
:root {
  --primaryRed: #ed1c24;
  --primaryTextColor: #757575;
  --primaryBlue: #0477c9;
  --primaryBackground: #fff;
  --primaryBlack: #000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: var(--primaryTextColor);
  line-height: 1.7;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
