body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.hello-world-container {
  margin-top: 10rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hello-world-message {
  margin-top: 10rem;
  font-size: 1.2rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 15vmin;
  line-height: 17vmin;
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 5vmin;
  line-height: 8vmin;
}

.hello-world-text {
  color: transparent;
  background: linear-gradient(#2193b0, #6dd5ed);
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0.7;
  transition: 0.4s;
  cursor: pointer;
}

.hello-world-text:hover {
  opacity: 1;
}
