.listSection {
  margin-bottom: 4rem;
}

.listGrid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  grid-auto-rows: 1fr;
}

.listItem {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 1fr;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  background: var(--secondaryBackground);
  border-radius: 2px;
}

.imageContainer {
  height: 100px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  padding: 0;
}

.fakeImage {
  height: 100%;
  width: 100%;
  color: var(--primaryBlack);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionText {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.articleHeadline {
  margin: 0;
  color: var(--primaryBlack);
  font-size: 1rem;
}

.textContainer {
  padding: 10px;
  text-overflow: ellipsis;
  min-height: 4rem;
}

@media (min-width: 768px) {
  .listGrid {
    grid-template-columns: 50% 50%;
  }
  .articleHeadline {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .imageContainer {
    margin-right: 2rem;
  }
}
