.listSection {
  margin-bottom: 4rem;
  width: 100%;
}

.listGrid {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  grid-auto-rows: 1fr;
}

.listItem {
  margin: 5px;
  padding: 1rem;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  background: var(--secondaryBackground);
  border-radius: 2px;
  height: 100%;
  min-height: 200px;
}

.pageName {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.articleHeadline {
  margin: 0;
  overflow: hidden;
  white-space: wrap;
  font-size: 1.3rem;
  text-overflow: ellipsis;
}

@media (min-width: 786px) {
  .listGrid {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 1240px) {
  .listGrid {
    grid-template-columns: 33% 33% 33%;
  }
  .articleHeadline {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .listGrid {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
