@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oxygen&display=swap');

:root {
  --primaryColor: #2250f4;
  --primaryBlue: #587ef8;
  --teal: #30c8c9;
  --primaryTextColor: #4b4545;
  --secondaryTextColor: #787171;
  --grayscaleTwo: #f1eced;
  --grayscaleOne: #dadce0;
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--clr-white);
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primaryTextColor);
}

h2 {
  font-size: 2rem;
  color: var(--primaryTextColor);
}

p {
  margin: 2rem 0;
  font-size: 1.3rem;
  color: var(--secondaryTextColor);
}

/*
Navbar
*/

nav {
  background-color: var(---clr-white);
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primaryColor);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primaryBlue);
  transform: rotate(90deg);
}

.logo {
  font-size: 2rem;
  color: var(--primaryColor);
  color: var(--primaryTextColor);
}

.logo-icon {
  height: 40px;
  width: 40px;
  color: var(--primaryColor);
  margin-bottom: -7px;
  margin-right: 4px;
}

.links {
  height: auto;
}

.links a {
  color: var(--primaryTextColor);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 5px;
  transition: var(--transition);
  margin-left: 1rem;
}

.links a:hover {
  background: var(--grayscaleTwo);
  color: var(--primaryBlue);
}

.links-container {
  height: 0;
  overflow: hidden;
}

.links-container[data-show] {
  height: 100vh;
  z-index: 10;
  text-align: center;
}

/* Page */
.page-container {
  padding: 30px 20px;
  max-width: 1240px;
  margin: 0 auto;
}

.cta {
  border: 2px solid var(--primaryColor);
  color: var(--clr-white);
  background-color: var(--primaryColor);
  box-shadow: var(--light-shadow);
  padding: 10px 12px;
  border-radius: var(--radius);
  min-height: 36px;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color linear 0.2s;
}
.cta:hover {
  background-color: var(--clr-white);
  color: var(--primaryColor);
}

.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
  margin: 3rem 0;
}

.home-title {
  font-size: 2rem;
  font-weight: 800;
}

.left-container {
  padding: 1rem;
}
.right-container {
  padding: 1rem;
  width: 300px;
}

.right-container img {
  width: 100%;
}

.home-cta {
  width: 250px;
  height: 3rem;
  border-radius: var(--radius);
  border: 2px solid var(--clr-white);
  background-color: var(--primaryColor);
  color: var(--clr-white);
  font-size: 1.3rem;
  font-weight: 500;
  transition: background-color linear 0.2s;
}

.home-cta:hover {
  background-color: var(--primaryBlue);
}

.info-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 3rem 0;
}

.info-card {
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  color: var(--clr-white);
  background: linear-gradient(
    90deg,
    rgba(34, 80, 244, 1) 13%,
    rgba(48, 200, 201, 1) 100%
  );
}

.info-card h4 {
  color: var(--clr-white);
  font-size: 40px;
}

footer {
  margin-top: auto;
  background-color: var(---clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--grayscaleOne);
  padding: 0.5rem;
  height: 3rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

footer p {
  color: var(--primaryTextColor);
  font-size: 1.3rem;
}

.error {
  margin-left: 1rem;
}

.loading,
.not-found {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  color: var(--primaryColor);
}

@media screen and (min-width: 586px) {
  .info-container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 786px) {
  .home-title {
    font-size: 2.7rem;
  }

  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links a {
    padding: 0 7px;
  }

  .links a:hover {
    background: var(--grayscaleTwo);
    color: var(--primaryBlue);
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  .home-container {
    flex-direction: row;
  }

  .right-container {
    padding: 3rem;
    width: 400px;
  }

  .info-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .info-card {
    padding: 4rem 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .info-container {
    column-gap: 2rem;
    padding: 0 2rem;
    margin-right: 6rem;
    margin-left: 6rem;
  }
}

@media screen and (min-width: 1900px) {
  .info-container {
    column-gap: 2rem;
    padding: 0 2rem;
    margin-right: 14rem;
    margin-left: 14rem;
  }
}
