.listItem {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.3rem;
  box-shadow:  0 2px 0 rgb(0 0 0 / 5%);
  background: var(--secondaryBackground);
  border-radius: 2px;
  padding-bottom: 3rem;
}

.imageContainer {
  height: 100px;
  width: 100px;
  position:relative;
  object-fit: fill;
  left: 33%;
  margin-right: 1rem;
}

.sectionContainer {
  grid-column: span 2;
  text-align: center;
  padding: 1rem;
}

.sectionText {
  margin: 0;
  text-transform: uppercase;
}

.articleHeadline {
  margin: 0;
  color: var(--primaryBlack);
  font-size: 1rem;
}

.textContainer {
  padding: 5px;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

@media (min-width: 586px) {
  .imageContainer {
      height: 150px;
      width: 150px;
  }
}
@media (min-width: 768px) {
  .listGrid {
      grid-template-columns: 50% 50%;
      grid-auto-rows: 1fr;
  }
  .articleHeadline{
      font-size: 1.3rem;
  }
  .sectionText {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .imageContainer {
      height: 200px;
      width: 200px;
  }
  .sectionText {
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .imageContainer {
      height: 270px;
      width: 270px;
      margin-right: 2rem;
  }
  .sectionText {
    font-size: 2rem;
  }
}