.noteCard {
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: var(--lightShadow);
  border-radius: var(--mainBorderRadius);
  margin-bottom: 2rem;
  color: var(--primaryTextColor);
  position: relative;
  width: 100%;
}

.noteCard[data-hide="true"] {
  opacity: 0;
}

.noteCard:hover {
  cursor: pointer;
}

.noteForm {
  display: flex;
  flex-direction: column;
}

.inputField {
  width: 100%;
  word-wrap: break-word;
}

.inputFieldUserInfo {
  width: 100%;
  word-wrap: break-word;
  font-size: 0.9rem;
  color: var(--secondaryTextColor);
  font-style: italic;
}

.submitButton {
  width: 100px;
  height: var(--inputHeight);
  border-radius: var(--buttonBorderRadius);
  color: var(--moduleBgColor);
  border: 1px solid var(--moduleBgColor);
  background-color: #fff;
  transition: all 0.3s ease-out;
  margin-top: 1rem;
}

.submitButton:hover {
  cursor: pointer;
  background-color: var(--moduleBgColor);
  color: #fff;
}

.noteBottom {
  display: flex;
  height: 50px;
  align-items: flex-end;
}

.error {
  color: var(--primaryRed);
  font-style: italic;
}

.deleteButton {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--primaryRed);
  background-color: #fff;
  transition: all 0.5s ease-out;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: var(--primaryRed);
}

.deleteIcon {
  color: var(--primaryRed);
  width: 20px;
  height: 20px;
}

.deleteIcon:hover {
  color: #fff;
}
