@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --textPrimary: #141b22;
  --textSecondary: #747070;
  --indigo: #0477c9;
  --success: #e4fbec;
  --error: #fde2e2;
  --ash: #eaeef6;
  --radius: 4px;
}

#root {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
span,
a {
  letter-spacing: var(--spacing);
  font-size: clamp(var(--min), var(--val), var(--max));
}

h1 {
  --min: 2.5rem;
  --val: 3rem;
  --max: 4rem;
}

h2 {
  --min: 1.9rem;
  --val: 2.3rem;
  --max: 3rem;
}

h3 {
  --min: 1.7rem;
  --val: 1.8rem;
  --max: 1.9rem;
}

h4 {
  --min: 1.5rem;
  --val: 1.6rem;
  --max: 1.7rem;
}

p,
a,
span {
  color: var(--secondaryTextColor);
  --min: 1rem;
  --val: 1.3rem;
  --max: 1.4rem;
}

body {
  font-family: 'Spline Sans', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--ash);
  width: 100%;
}

.App {
  max-width: 800px;
  width: 100%;
  margin: 10vh auto;
}

select {
  width: 7rem;
  height: 1.5rem;
  border: solid 1px var(--indigo);
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

.card {
  display: block;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  background-color: var(--white);
  padding: 1.5rem;
  overflow-wrap: break-word;
}

.title {
  color: var(--textPrimary);
}

p {
  color: var(--textSecondary);
}

.body {
  color: var(--textSecondary);
  margin-bottom: 2rem;
}

.label {
  font-weight: 800;
}

.error-container[data-color='red'] {
  display: block;
  background-color: var(--error);
  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  border-left: 5px solid red;
}

.error-container[data-color='green'] {
  display: block;
  background-color: var(--success);
  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  border-left: 5px solid green;
}

.error-container[data-color=''] {
  display: none;
}
