@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --textPrimary: #141b22;
  --textSecondary: #4b4545;
  --indigo: #0477c9;
  --success: #e4fbec;
  --error: #fde2e2;
  --radius: 4px;

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  --fs-600: 2rem;
  --fs-400: 1rem;
}

@media (min-width: 786px) {
  :root {
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
}

body {
  font-size: var(--fs-400);
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
}

h1 {
  font-weight: 800;
  line-height: 1;
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-600);
  line-height: 1.2;
  color: var(--textSecondary);
}

p,
a,
option,
select,
span {
  color: var(--textSecondary);
}

.App {
  max-width: 800px;
  width: 100%;
  margin: 10vh auto;
}

select {
  width: 7rem;
  height: 2rem;
  border: solid 1px var(--indigo);
  border-radius: var(--radius);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.card {
  display: block;
  width: 100%;
  padding: 1.5rem;
  overflow-wrap: break-word;
}

.body {
  margin-bottom: 2rem;
}

.label {
  font-weight: 700;
  text-transform: uppercase;
}

.error-container[data-color='red'] {
  display: block;
  background-color: var(--error);
  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  border-left: 5px solid red;
}

.error-container[data-color='red'] p,
.error-container[data-color='red'] span {
  color: red;
}

.error-container[data-color='green'] {
  display: block;
  background-color: var(--success);
  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  border-left: 5px solid green;
}

.error-container[data-color='green'] p,
.error-container[data-color='green'] span {
  color: green;
}

.error-container[data-color=''] {
  display: none;
}
